body {
  background-color: #004fff;
}

.goodStuff {
  background-color: white;
  margin: 25%;
  margin-top: 5%;
  padding: 10%;
  padding-top: 2%;
}

.big {
  font-size: 200px;
}

.normal {
  font-size: 20px;
}
